*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #1c0d54;
    font-family: sans-serif;
}
.calculator,
.resultCalculator{
    width: 500px;
    margin: 100px auto 0;
    padding: 20px;
    box-shadow: 0 0 50px -15px #1cc7d0;
}
h1{
   font-size: 40px;
   text-align: center;
   color: #ddd;
   margin: 10px 0;
}
.calculator form{
    display: flex;
    flex-wrap: wrap;
}
.calculator form input,
#resultCalculator input{
    font-size: 24px;
    border: none;
    padding: 10px 15px;
    width: calc(25% - 10px);
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: inset 0 0 20px -7px #333;
}
.calculator form input#result_field,
#resultCalculator input:nth-child(1){
   width: 100%;
   margin-bottom: 20px;
   text-align: right;
   cursor: auto;
}
.calculator form input:nth-child(15),
.calculator form input:nth-child(19){
   width: calc(50% - 10px);
}
#resultCalculator input:nth-child(2),
#resultCalculator input:nth-child(3){
   width: calc(49% - 10px);
}